# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Database & Storage
data/
*.sqlite3
*.db

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
ENV/

# IDE / OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db
